/* Changes to bootstrap */

body {
    padding-bottom: 40px;
    font-family: Georgia, Times;
    font-size: 1.2em;
    line-height: 1.5em;

    background: #202020;
    margin: 0;
    color: white;
    background-color: #111;
    background-image: url(/img/otis-redding.png);
}

a {
    color: inherit;
    text-decoration: none;
}

pre {
    line-height: 1.2em;
}

.header {
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #700;
    height: 80px;
    background: rgba(100,13,0,1);
    background: -moz-linear-gradient(-60deg, rgba(100,13,0,1) 0%, rgba(74,6,0,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(100,13,0,1)), color-stop(100%, rgba(74,6,0,1)));
    background: -webkit-linear-gradient(-60deg, rgba(100,13,0,1) 0%, rgba(74,6,0,1) 100%);
    background: -o-linear-gradient(-60deg, rgba(100,13,0,1) 0%, rgba(74,6,0,1) 100%);
    background: -ms-linear-gradient(-60deg, rgba(100,13,0,1) 0%, rgba(74,6,0,1) 100%);
    background: linear-gradient(60deg, rgba(100,13,0,1) 0%, rgba(74,6,0,1) 100%);

    -webkit-box-shadow: 0px 2px 10px 1px rgba(40,40,40,1);
    -moz-box-shadow: 0px 2px 10px 1px rgba(40,40,40,1);
    box-shadow: 0px 2px 10px 1px rgba(40,40,40,1);
}

h1,h2,h3,h4 {
    margin-top: 10px;
    line-height: 1.2em;
    width: 80%;
}

h1 {
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 1);
    color: white;
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 80px;
}
h1 a {
    color: white;
}


li p {
    margin: 5px;
}

p {
    margin: 15px;
}


blockquote {
  background: #f5f5f5;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.masthead {
    background-color: white;
}

.nav a.feedlink {
    display: inline;
}

.container-narrow > hr {
    margin: 30px 0;
}

.pager {
    list-style: none;
}
.post .pager a {
    color: white;
}
.pager .next, .pager .previous {
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    background: #c00;
    color: white;
}

.pager .next {
    float: right;
}

.pager .previous {
    float: left;
}

.content img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    padding: 10px;
    overflow: auto;
    width: 90%;
    word-wrap: normal;
    white-space: pre;
    color: #e2e2e2;
    background-color: #333;
    border-left: 10px solid #555;
    border-right: 10px solid #555;
}

.language-text {
    color: black;
}

.nav-list .nav-list-icons { list-style-type: none; margin: 0px 0px 10px 0px; }
.nav-list .nav-list-icons li { display: inline; }

div.datepost { 
    font-size: 16px;
    color: #555;
    background-color: #f5f5f5;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

#moreinfo-toggle {
    display: block;
    margin: 0 auto 30px auto;
}


h2 { margin-bottom: 0px; font-size: 200%; }
h3 { margin-bottom: 0px; font-size: 140%; }

.taglist {
    font-size: 0.85em;
    color: grey;
    margin-bottom: 5px;
}
.taglist ul {
    display: inline;
    margin-left: 0px; 
    padding: 0; 
    text-transform: uppercase; 
}
.taglist li {
    display: inline; 
    list-style: none; 
}


.post {
    color: black;
    border: 1px solid lightGray;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    margin: 10px auto;
    width: 60%;
}

.post a {
    color: #c00;
    text-decoration: none;
    font-weight: bold;
}


.post-list .post {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}


.blockseparator {
    width: 100%;
    height: 10px;
    background: #c00;
    border: none;
}

.social-media {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
}
.social-media a {
    text-decoration: none;
    color: #300;
    line-height: 80px;
}

.social-media a:hover {
    color: #a00;
}


/* Recent posts */

@media (max-width: 1400px) { 
    .recent { display: none; }
}

.recent {
    position: absolute;
    right: 0;
    top:150px;
    background-color: rgba(80,80,80,.4);
    width: 225px;
    padding: 10px 0 10px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.recent h2 {
    color: #ccc;
}

.recent ul {
    list-style: none;
    padding-left: 0;
}

.recent ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    background: #444;
    margin: 10px 0 20px -10px;
    padding-left: 10px;
}

.recent a {
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
}

