---
layout: default
---

<div class="post-list">
{% for post in paginator.posts %}
<div class="post">
  <div class="datepost">{{ post.date | date: "%d %B %Y"}}</div>
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <div class="content">
    {{ post.excerpt }}

    <a href="{{post.url}}">read more</a>

    <a class="pull-right" href="{{ post.url }}#disqus_thread">Comments</a>
  </div>
</div>
{% endfor %}
</div>




<nav class="text-center">
  <ul class="pagination text">
    <!-- Prev button -->
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <li><a href="/">&laquo;</a></li>
      {% else %}
      <li><a href="/page{{paginator.previous_page}}">&laquo;</a></li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#">&laquo;</a><li>
    {% endif %}

    <!-- Page numbers -->
    <li {% if paginator.page == 1 %}class="active"{% endif %}><a href="/">1</a></li>
    {% for count in (2..paginator.total_pages) %}
    <li {% if count == paginator.page %}class="active"{% endif %}><a href="/page{{count}}">{{count}}</a></li>
    {% endfor %}

    <!-- Next button -->
    {% if paginator.next_page %}
    <li><a href="/page{{paginator.next_page}}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}

  </ul>
</nav>
