<head>
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/custom.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>David Vázquez's homepage</title>
</head>
