<head>
  <meta charset="utf-8">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/feeds/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
  <link href="/css/style.css" rel="stylesheet" media="screen">
  <link href="/css/pygment-monokai.css" rel="stylesheet" media="screen">
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>David Vázquez's homepage{% if page.title %} --- {{ page.title }}{% endif %}</title>
</head>
