<h1>David Vázquez</h1>

<div class="social-media">
  <a href="https://github.com/davazp">
    <span class="fa-stack fa-lg" title="Github">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </span>
  </a>

  <a href="https://twitter.com/davazp">
    <span class="fa-stack fa-lg" title="Twitter">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
  </a>

  <a href="https://plus.google.com/+DavidVázquezP">
    <span class="fa-stack fa-lg" title="Google+">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
    </span>
  </a>

  <a href="/feeds/atom.xml">
    <span class="fa-stack fa-lg" title="Google+">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
    </span>
  </a>

</div>

<hr class="blockseparator">
