<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="post content">
            <div class="datepost">{{ page.date | date: "%d %B %Y"}}</div>

            <h2>{{ page.title }}</h2>
            <div class="taglist">
              {% if page.tags.size > 0 %}
              Tags:
              <ul>
                {% for tag in page.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>

            {{ content }}

            <ul class="pager">
              <li class="previous{% unless page.previous %} disabled{% endunless %}">
                <a href="{{ page.previous.url }}">Previous</a>
              </li>
              <li class="next{% unless page.next %} disabled{% endunless %}">
                <a href="{{ page.next.url }}">Next</a>
              </li>
            </ul>

          </div>

          <div class="post">
            {% include comments.html %}
          </div>
        </div>
        
        <div class="col-md-2">
          {% include sidebar.html %}
        </div>
        
      </div>
    </div>

    {% include footscripts.html %}
  </body>
</html>
